<!-- workout builder popup starts -->

      <div id="popup" class="F_popup" ng-cloak style="display:none">
        <div class="popup" style="width:990px; left: -470px;">
            <div class="hed">
            <div style="float:left;">
            <span>Workout Builder</span> 
            </div>
            <div style="float:right;"> <span style="margin-bottom: 0px; margin-right: 10px;">{{workout_name}}</span>
            <a href="javascript:void(0)" onClick="HidePop('popup')" ng-click="allWorkouts();  HidePopup();" id="hide_workout">x</a>
            </div>
              <div style="clear:both;"></div>
            </div>
            <!--   content to add workout -->
         <div class="popup-txt" style="height:315px;">
                   
                            
         <div class="" style="height:288px; background:#ffffff">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="formTable" style="margin-left:10px;border:0px;width:98%;height:289px;">
                  <tr>
                    <td width="25%" style="border-right: 1px solid; vertical-align: top;">
                      <div style="position:fixed;height:250px;overflow-y:scroll; width:240px">
                      <input type="text" ng-model="searchex" placeholder="Search" style="width:95%;"/>
                      <table style="margin-left:10px;border:0px;width:94%;">
                      <tr data-ng-drag="true" data-ng-drag-data="e" ng-repeat="e in filteredex | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >
                        <!--<tr data-ng-drag="true" data-ng-drag-data="e" data-ng-repeat="e in exercise">-->
                          
                          <td>{{e.name}}</td>
                        </tr>
                      </table>

                      <div id="share_buttons" class="addsection_share" style="display:none;" >
                        <input type="button" value="Share Publically" ng-click="share_public(workout_id)" style="width:103px;margin-left:3px;padding-left:2px !important;margin-right:6px !important;" />&nbsp;&nbsp;

                        <input type="button" ng-hide="user.user_type == 'athlete' && user.created_by == '0'" style="width: 100px;margin-right:0px;padding-left:2px !important;" value="Share Privately" ng-click="share_privately(workout_id,workout_name)">
                        </div>
                       </div>
                    </td>
                    <td width="65%" style="vertical-align:top;">
                        
                     <!-- daywise details div starts-->
                      <form data-ng-submit="AddMoreDetails()" name="AddallDetails" id="AddallDetails">
                     
                      <input type="hidden" name="workout_id" id="workout_id" value="{{workout_id}}" data-ng-model="more_detail.workout_id" >

                      <input type="hidden" name="exercise_linked" id="exercise_linked" value="{{exercise_linked}}" data-ng-model="more_detail.exercise_linked" >
                      <div id="daywise_details">
                        <table style="border:none !important;">
                          <tr>
                          <td>Day: </td>
                            <td width="15%">
                              <select name="numberofdays" id="numberofdays" data-ng-model="more_detail.numberofdays" required style="margin-left:10px" ng-change="onChangeAddBuilder();">
                              <option value="">--Select--</option> 
                                <option ng-repeat="i in getNumber(numberofdays) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                              </select>
                            </td>
                            <td width="40%"></td>
                            <td width="40%"></td>
                            
                            <td><input type="button" value="Add New" id="btn_duplicate" data-role="none" ng-click="add()"/></td>
                            <td><!--<input type="button" value="Add Rest" data-role="none" ng-click="add_rest()"/>--></td>
                          </tr>
                        </table>
                 <div class="handle">

                        <div class="more_details ui-sortable-handle" data-ng-repeat="more_details in more_detail.more_detail" ng-init="$parentindex = $index">
                        <div id="{{ $index}}">
                           <div class="hed">
                            <div data-ng-drop="true"  data-ng-drop-success="onDropComplete($data,$event,$index)">
                              <div class="item" id="add_exr_name_{{ $index }}">{{droppedItems[$index].name ? droppedItems[$index].name : 'Drop Exercise Here'}}</div>
                              <input type="hidden" name="exercise_linked" id="exercise_linked" value="{{droppedItems[$index].exerciseid}}" data-ng-model="more_detail.exercise_linked" >
                              
                              <span id="workout_details_{{ $index }}" style="display:none;margin-right:0px !important;"> {{droppedItems[$index].name}} 

                              <span style="margin-right:3px !important;" ng-if="droppedItems[$index].name !='Rest'">:</span>

                           <span ng-if="more_details.calculator == 'fixed'" class="weight_per" style="margin-right:3px !important;">{{more_details.weight_percentage}}Kg</span>
                           <span ng-if="more_details.calculator == 'max'" class="weight_per" style="margin-right:3px !important;">{{more_details.weight_percentage}}%</span>
                           <span ng-if="more_details.calculator == 'previous'" class="weight_per" style="margin-right:3px !important;">{{more_details.weight_percentage}}%</span>
                           <span ng-if="droppedItems[$index].name !='Rest'">-Day{{more_details.numberofdays}}- {{more_details.number_of_sets}} sets of {{more_details.rest_in_between_c}} reps</span> </span>
                           
                           <div style="width:80%;float:right;" class="action_btn">
                           <img src="../images/up_arrow.gif" id="arrow_image_{{ $index+1 }}" class="arrow_button" rel="{{ $index}}" style="height:21px;float:right;cursor:pointer !important;"/>
                           <input type="button" value="Duplicate" id="add_btn_duplicate" data-role="none" ng-click="add_copymore(more_detail,$index)"  style="float:right;" ng-if="droppedItems[$index].name !='Rest'"/>
                           <input type="button" ng-click="delete_moredetail(more_details)" class="delete_div" value="Delete" style="float:right;" />
                           
                           <div >
                            <input type="button" id="btn_move_down_{{$index}}"  ng-if="more_detail.more_detail.length > 1 && more_detail.more_detail.length-1 > $index" ng-click="AddMoveDown($index,more_detail)" class="delete_div" value="Move Down" style="float:right;" />
                           
                            <input type="button" id="btn_move_up_{{$index}}" ng-if="$index != 0" ng-click="AddMoveUp($index,more_detail)" class="delete_div" value="Move Up" style="float:right;" />
                           
                            </div> 

                             <div style="clear:both;"></div>

                            </div> 

                              </div>

                           <span id="exr_name_{{ $index }}">{{exercise_name}}</span>

                            </div>
                               
                        </div>
                        <!-- exercise_details table starts -->      
                        <table width="100%" border="0" style="border:none !important;margin-bottom:0px !important;" id="exercise_details_{{ $index }}" class="exercise_details">
                        
                                <tr id="no_rest_options_{{ $index }}" ng-if="droppedItems[$index].name !='Rest'">
                                  <td width="20%"><label>Calculator</label></td>
                                  <td width="50%">
                                  <select name="calculator"  style="width:20%;" required class="display_cal" data-ng-model="more_details.calculator">
                                    <option value="">Select</option>
                                    <option value="fixed">Fixed</option>
                                    <option value="max">Max</option>
                                    <option value="previous">Previous</option>
                                  </select></td>
                                   
                                </tr>

                                <tr id="rest_options_{{ $index }}"  ng-if="droppedItems[$index].name =='Rest'">
                                  <td><label>Rest in between</label></td>
                                  <td><input type="number" style="width:50%;" required data-ng-model="more_details.rest_in_between" min="1" /><span style="vertical-align:sub;">seconds</span></td>
                                </tr>

                                <tr class="fixed_options" ng-if="more_detail.more_detail[$index].calculator =='fixed' && droppedItems[$index].name !='Rest'">
                                  <td><label>Number of sets</label></td>
                                  <td><input type="number" class="number_of_sets" name="number_of_sets" data-ng-model="more_details.number_of_sets" style="width:20%" min="1" /></td>
                                </tr>
                                <tr class="fixed_options" ng-if="more_detail.more_detail[$index].calculator =='fixed' && droppedItems[$index].name !='Rest'">
                                  <td><label>Weight</label></td>
                                  <td><input type="number" class="weight_percentage" name="weight_percentage" data-ng-model="more_details.weight_percentage" style="width:20%" min="1"/><span style="vertical-align:sub;">kg</span></td>
                                </tr>
                                <tr class="fixed_options" ng-if="more_detail.more_detail[$index].calculator =='fixed' && droppedItems[$index].name !='Rest'">
                                  <td><label>Rest in between</label></td>
                                  <td><input type="number" class="rest_in_between_c" name="rest_in_between_c" data-ng-model="more_details.rest_in_between_c" style="width:20%;" min="1" /><span style="vertical-align:sub;">seconds</span></td>
                                </tr>


                                <tr class="max_options" ng-if="more_detail.more_detail[$index].calculator =='max' && droppedItems[$index].name !='Rest'">
                                  <td><label>Number of sets</label></td>
                                  <td><input type="number" class="number_of_sets" name="number_of_sets" style="width:20%;" data-ng-model="more_details.number_of_sets" min="1" /></td>
                                </tr>
                                <tr class="max_options" ng-if="more_detail.more_detail[$index].calculator =='max' && droppedItems[$index].name !='Rest'">
                                  <td><label>Percentage</label></td>
                                  <td><input type="number" class="weight_percentage" name="weight_percentage" style="width:20%;" data-ng-model="more_details.weight_percentage" min="1" /></td>
                                </tr>
                                <tr class="max_options" ng-if="more_detail.more_detail[$index].calculator =='max' && droppedItems[$index].name !='Rest'">
                                  <td><label>Rest in between</label></td>
                                  <td><input type="number" class="rest_in_between_c" name="rest_in_between_c" data-ng-model="more_details.rest_in_between_c" style="width:20%;" min="1" /><span style="vertical-align:sub;">seconds</span></td>
                                </tr>

                                <tr ng-if="previousdetails.length==0 && more_detail.more_detail[$index].calculator =='previous' && droppedItems[$index].name !='Rest'">
                                  <td></td>
                                  <td>No records in workout history for the workout.</td>
                                </tr>

                                <tr class="previous_options" ng-if="more_detail.more_detail[$index].calculator =='previous' && previousdetails.length>0 && droppedItems[$index].name !='Rest'">
                                  <td><label>Workout from</label></td>
                                  <td><select class="workout_calc" name="workout_calc" style="width:50%;" data-ng-model="more_details.workout_calc">

                                    <option ng-repeat="prev_details in previousdetails"  required value="{{prev_details.whid}}">{{prev_details.workout_name}}-Day {{prev_details.day_done}}</option>

                                    <!--<option value="1">Workout1-Day2-Exercise3</option>
                                    <option value="2">Workout1-Day3-Exercise4</option>
                                    <option value="3">Workout1-Day4-Exercise5</option>
                                    <option value="4">Workout1-Day5-Exercise6</option>-->
                                  </select>
                                  </td>
                                </tr>
                                <tr class="previous_options" ng-if="more_detail.more_detail[$index].calculator =='previous' && previousdetails.length>0 && droppedItems[$index].name !='Rest'">
                                  <td><label>Percentage</label></td>
                                  <td><input type="number" class="weight_percentage" name="weight_percentage" style="width:20%;" data-ng-model="more_details.weight_percentage" min="1" /></td>
                                </tr>
                                <tr class="previous_options" ng-if="more_detail.more_detail[$index].calculator =='previous' && previousdetails.length>0 && droppedItems[$index].name !='Rest' ">
                                  <td><label>Rest in between</label></td>
                                  <td><input type="number" class="rest_in_between_c" name="rest_in_between_c" data-ng-model="more_details.rest_in_between_c" style="width:20%;" min="1" /><span style="vertical-align:sub;">seconds</span></td>
                                </tr>
                        </table>
                         
                        
                        </div><!-- end of details1 div-->
                          
                          <div style="clear:both;"></div>
      
                      </div>

                         <input type="submit" value="Save draft" id="save_draft" name="save_draft" style="float:right;margin-top:20px;"/>
                         <div style="clear:both;"></div>
                      </div> <!-- daywise details div ends--> 

                      </form>
                    </td>
                  </tr>
                </table>
            </div>
            <div style="clear:both;"></div>
            </div>
            </div> 
     <!-- display message popup for add workout builder details starts here-->
  
      <div id="addworkoutbuilder_show_msg_popup" class="F_popup" style="display:none;">
          <div class="popup" style=" left: -180px;top: 200px;">
            <div class="popup-txt" style="height:130px !important;background:#fff;">

            <div class="successMessage" id="department_span messages" ng-cloak data-ng-show="messages" data-ng-bind="messages"> </div>

            <div class="errorMessage" id="department_span errors" ng-cloak data-ng-show="errors" data-ng-bind="errors"> </div>

            <div style="text-align:center;"> 
            <input type="button" value="OK" ng-click="HideMsgPop('addworkoutbuilder_show_msg_popup','popup')" style="float:none;">
            </div>
            </div>
          </div>
        </div>
  <!-- display message popup for add workout builder details ends here-->
        <!-- END ---P A G E  -  W O R K  -  A R E A --> 
      </div>   

    <!-- workout builder popup ends -->